# VerificationResult


## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**verified** | **boolean** |  | [optional] [default to undefined]
**verification_id** | **string** |  | [optional] [default to undefined]
**purpose** | **string** |  | [optional] [default to undefined]
**metadata** | **{ [key: string]: any; }** |  | [optional] [default to undefined]

## Example

```typescript
import { VerificationResult } from '@k2600x/comm-service-sdk';

const instance: VerificationResult = {
    verified,
    verification_id,
    purpose,
    metadata,
};
```

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
